<!-- <div class="bg-red-500 text-white p-4 rounded-lg text-center text-xl shadow-md mt-4">
    ✅ Tailwind CSS is working!
  </div> -->
  // File: navbar.component.html
  <mat-toolbar color="primary" class="mat-elevation-z6 toolbar">
    <div class="toolbar-content">
      <span class="brand">Nyayabharat</span>
  
      <span class="spacer"></span>
  
      <nav class="nav-links" fxHide fxShow.gt-sm>
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/ipc">IPC</a>
        <a mat-button routerLink="/crpc">CrPC</a>
        <a mat-button routerLink="/cpc">CPC</a>
        <a mat-button routerLink="/constitution">Constitution</a>
        <a mat-button routerLink="/articles">Articles</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/contact">Contact</a>
      </nav>
  
      <!-- Mobile Toggle -->
      <button mat-icon-button (click)="toggleMenu()" fxShow fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <mat-nav-list *ngIf="isMenuOpen" class="mobile-menu" fxShow fxHide.gt-sm>
    <a mat-list-item routerLink="/">Home</a>
    <a mat-list-item routerLink="/ipc">IPC</a>
    <a mat-list-item routerLink="/crpc">CrPC</a>
    <a mat-list-item routerLink="/cpc">CPC</a>
    <a mat-list-item routerLink="/constitution">Constitution</a>
    <a mat-list-item routerLink="/articles">Articles</a>
    <a mat-list-item routerLink="/about">About</a>
    <a mat-list-item routerLink="/contact">Contact</a>
  </mat-nav-list>